RewriteEngine On
#
# RewriteBase indispensable sur webetu :

# RewriteBase METTRE LE CHEMIN DEPUIS LA RACINE DU VIRTUALHOST 
RewriteBase /Architecture_Logicielle/Architecture-Logicielle/gift.appli/public/


#
# Pour interdire l'accès aux répertoires contenant du code
#RewriteRule ^sql(/.*|)$ - [NC,F]
#RewriteRule ^src(/.*|)$ - [NC,F]

#
# réécriture pour slim

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]