{% extends 'index.twig' %}
{% block content %}
<h1>Box Created</h1>
        <p>Form data:</p>
        <ul>
            <li>Name: {{ postData.name }}</li>
            <li>Description: {{ postData.   description }}</li>
        </ul>
        <p><a href="{{ url_for('root') }}">retour au menu</a></p>
{% endblock %}