{% extends 'index.twig' %}
{% block content %}
<h1>Création d'une box</h1>
<form action="" method="post">
    <label for="name">Nom</label>
    <input type="text" id="name" name="name">
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <button type="submit">Créer</button>
</form>
<p><a href="{{ url_for('root') }}">Retour au menu</a></p>
{% endblock %}