{% extends 'index.twig' %}
{% block content %}
<h1>Box créée</h1>
        <p>Information de la Box</p>
        <ul>
            <li>Nom: {{ postData.name }}</li>
            <li>Description: {{ postData.   description }}</li>
        </ul>
        <a class="bouton" href="{{ url_for('root') }}">Retour au menu</a>
{% endblock %}