{% extends 'index.twig' %}
{% block content %}
<h1>Création d'une box</h1>
<form class="displayCard" action="" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <label for="name">Nom</label>
    <input type="text" id="name" name="name" required>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" required>
    <div>
        <label for="kdo">Cadeau</label>
        <input type="checkbox" id="kdo" name="kdo">
    </div>
    <label for="kdo_message">Message du cadeau</label>
    <input type="text" id="kdo_message" name="kdo_message" placeholder="message cadeau" value="" disabled>
    <label for="predefinie">Créer à partir d'une box prédéfinie:</label>
    <select id="predefinie" name="predefinie">
        <option value="aucune">Aucune</option>
        {% for predef in predefinies %}
            <option value="{{ predef.id }}"> {{ predef.libelle }} </option>
        {% endfor %}
    </select>
    <button type="submit" class="bouton">Créer</button>
</form>
<script>
    document.getElementById("kdo").addEventListener("change", function() {
        document.getElementById("kdo_message").disabled = !this.checked;
    });
</script>
<a class="bouton" href="{{ url_for('root') }}">Retour au menu</a>
{% endblock %}