<body>
    <h1>Category</h1>
    <p>ID: {{id}}</p>
    <p>Libelle: {{libelle}}</p>
    <p>Description: {{description}}</p>
    <a href="{{id}}/prestations">Voir les prestations de la catégorie</a>
</body>