{% extends 'index.twig' %}
{% block content %}
    <h1>Nos Catégories</h1>
    <div class="cardContainer">
        {% for cat in categories %}
            <a class="card" href="{{ url_for('categorieById', {'id':cat.id}) }}">
                <h2>{{ cat.libelle }}</h2>
            </a>
        {% endfor %}
    </div>
{% endblock %}