{% extends 'index.twig' %}
{% block content %}

<form class="displayCard" action="{{ url_for('categorieCreatePost') }}" method="POST">
    <h1>Créer une catégorie</h1>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="libelle">Libelle :</label>
    <input type="text" id="libelle" name="libelle" required />
    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>
    <button type="submit" class="bouton" >Créer</button>
</form>

{% endblock %}