<!DOCTYPE html>
<html>
<head>
    <title>GiftBox</title>
    <link rel="stylesheet" type="text/css" href="{{ base_path() }}/main.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('root') }}"><h1 id="Title">Accueil</h1></a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        GiftBox - Kevin Etique - Amaury Quilliec - Maxime Koler
    </footer>
</body>
</html>