{% extends 'index.twig' %}
{% block content %}
<h1>Prestation</h1>
<p>ID : {{ prestation.id }}</p>
<p>Libelle : {{ prestation.libelle }}</p>
<p>Description : {{ prestation.description }}</p>
{% endblock %}