{% extends 'index.twig' %}
{% block content %}
<h1>Catégorie {{ id }} :</h1>
{% for presta in prestations %}
<p><a href="{{ url_for('prestation') ~ "?id=" ~ presta.id }}"> {{ presta.libelle }}</a></p>
{% endfor %}
<p><a href="{{ url_for('categorieById', {'id':id}) }}">retour à la catégorie</a></p>
{% endblock %}