{% extends 'index.twig' %}
{% block content %}
<h1>Liste des prestations pour la catégorie {{ id }} :</h1>
<div class="cardContainer">
{% for presta in prestations %}
<a class="card" href="{{ url_for('prestation') ~ "?id=" ~ presta.id }}">
    <h2> {{ presta.libelle }} </h2>
</a>
{% endfor %}
</div>
<a class="bouton" href="{{ url_for('categorieById', {'id':id}) }}">Retour à la catégorie</a>
{% endblock %}