{% extends 'index.twig' %}
{% block content %}
<div class="centerdiv">
<div class="card">
<h1>Prestation</h1>
<p>ID : {{ prestation.id }}</p>
<p>Libelle : {{ prestation.libelle }}</p>
<p>Description : {{ prestation.description }}</p>
</div>
</div>
<br>
<div class="centerdiv">
<a class="bouton" href="{{ url_for('root')}}">Retour au menu</a>
</div>
{% endblock %}