{% extends 'index.twig' %}
{% block content %}
<h1>Gift App</h1>
<div class="boxNeonContainer">
<a class="boxNeon" href="{{ url_for('categories') }}"><p class="textBoxNeon">Categories</p></a>
<a class="boxNeon" href="{{ url_for('boxCreate') }}"><p class="textBoxNeon">Box</p></a>
</div>
{% endblock %}
