{% extends 'index.twig' %}
{% block content %}
<div class="centerdiv">
<h1 id="rootTitre">Gift App</h1>
</div>
<div class="cardContainer">
<a class="boxNeon" href="{{ url_for('categories') }}"><p class="textBoxNeon">Categories</p></a>
<a class="boxNeon" href="{{ url_for('boxCreate') }}"><p class="textBoxNeon">Créer une box</p></a>
<a class="boxNeon" href="{{ url_for('listePrestations') }}"><p class="textBoxNeon">Prestations</p></a>
<a class="boxNeon" href="{{ url_for('boxsPredefinies') }}"><p class="textBoxNeon">Boxs prédéfinies</p></a>
</div>
{% endblock %}
